body
{
	background-image: url('../images/forgotpasswordback.jpg');
	background-size: cover;
	height: 96.5vh;
	background-attachment: fixed;
	 margin: 0;
    padding: 0;
}
.nav
{
		display: inline-flex;
		position: relative;
		/*overflow: hidden;*/
		width: 48%;
		background-color: #f2f2f2;
		border-radius: 30px;
		box-shadow: 0 10px 40px rgba(150,172,177,0.8);
		margin-left:480px;
		margin-top:50px;
		height: 60px;
		margin-right: 220px;

		
}
.nav-item
{
	color:  #262626;
	padding: 20px;
	text-decoration: none;
	transition: 0.3s;
	margin: 0 7px;
	z-index: 1;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 500;
	position: relative;
	
	
}
.nav-item:before
{
	content: "";
	position: absolute;
	bottom: -7px;
	left: 0;
	width: 100px;
	height: 5px;
	background-color: #000000;
	border-radius: 1px 1px 0 0 ;
	opacity: 0;
	transition: 0.3s;
}
.nav-item:not(.is-active):hover:before
{
	opacity:1;
	bottom: 0;
}
.nav-item:not(.is-active):hover
{
	color: #1aff1a;
	
}
.nav-indicator
{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	transition: 0.4s;
	height: 5px;
	z-index: 1;
	border-radius: 8px 8px 0 0;
	
}



.forgot
{
	text-align:center;
	margin-top: 100px;
	margin-left: 300px;
	margin-right: 300px;
	padding-bottom: 200px;
	 background-color: rgba(0, 0, 0, 0.7);
	height: 30vh;
}
.pass
{
		text-align: center;
		color:   #ace600;
		padding-top: 20px;
		font-family: 'Signika', sans-serif;
		letter-spacing: 2px;
		text-shadow: 0 0 10px  black, 0 0 10px  black,0 0 10px  black;
		font-size: 40px;
}
.enter
{
	color:   #ff0000;
	font-family: 'Signika', sans-serif;
	letter-spacing: 2px;
	text-shadow: 0 0 10px  black, 0 0 10px  black,0 0 10px  black;
	font-size: 30px;
}
.Email
{
	background-color: white;
	font-size: 20px;
	 width: 40%;
    height: 20%;
	border: solid 3px black;
	border-radius: 10px;
}
.submit
{
	 width: 20%;
    height: 20%;
	margin-top : 30px;
	font-size: 25px;
	font-family:'Signika', sans-serif;
	letter-spacing: 2px;
	background-color :black;
	border-radius: 30px;
	border: solid 3px white;
	color: white;
	
}
 

 .intro p{
    font-size: 27px;
     color:  #ace600;
    margin-bottom: 8%;
    font-family: 'Signika', sans-serif;
	text-shadow: 0 0 10px  black, 0 0 10px  black,0 0 10px  black;
	text-align: center;
	
}
::-webkit-scrollbar
{

width: 12px;
}
::-webkit-scrollbar-thumb
{
background: linear-gradient(transparent,#30ff00);
}
::-webkit-scrollbar-thumb:hover
{
background: linear-gradient(transparent,#00c6ff);	
}
